* {
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  display: -ms-grid;
  display: grid;
  margin: 0px;
}

.headerIndex {
  background-color: #edf2f4;
  border-bottom: 5px outset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainProductos {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ef233c;
}

.mainProductos .mensajeError {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.mainProductos img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.pizzas, .empanadas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.pizzas .elemento, .empanadas .elemento {
  border-right: 2px outset;
  border-bottom: 2px outset;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px 5px 5px;
  width: 290px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #d90429;
}

.pizzas .elemento div, .empanadas .elemento div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 104px;
  text-align: center;
}

.pizzas .elemento div h5, .empanadas .elemento div h5 {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10px;
}

.pizzas .elemento div input, .empanadas .elemento div input {
  width: 89px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.pizzas .elemento img, .empanadas .elemento img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.asideIndex {
  margin-top: 95px;
  position: fixed;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 5px;
  text-align: center;
  border-radius: 5px;
  background-color: #d90429;
  padding: 5px 5px 5px 5px;
  overflow-y: auto;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;
  border-right: 2px outset;
  border-bottom: 2px outset;
}

.asideIndex .productoLista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px 5px 5px;
  border-bottom: 2px outset;
  border-right: 2px outset;
  background-color: #d90429;
  width: 285px;
}

.asideIndex .productoLista div {
  display: -ms-grid;
  display: grid;
  height: 70px;
  display: grid;
}

.asideIndex .productoLista div h5 {
  height: 0px;
  width: 150px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.asideIndex .productoLista div div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.asideIndex .productoLista div div h5 {
  height: 0px;
  width: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 18px;
  margin-bottom: 38px;
  font-size: 15px;
}

.asideIndex .productoLista div div .btnBorrar {
  height: 20px;
  width: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 9px;
}

.asideIndex .productoLista img {
  height: 90px;
  margin-right: 5px;
}

.asideIndex .btnPagar {
  height: 60px;
  width: 300px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #e7890e;
  margin-top: 5px;
}

.asideIndex .btnPagar a {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.asideIndex .btnPagar a:hover {
  font-size: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.headerDireccion {
  background-color: #edf2f4;
  border-bottom: 5px outset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerDireccion a {
  position: absolute;
}

.headerDireccion img {
  margin-left: 41%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.mainDireccion {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background-color: #ef233c;
}

.mainDireccion .formulario {
  background-color: #d90429;
  margin-left: 50px;
  margin-top: 20px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}

.mainDireccion .formulario input {
  width: 250px;
  margin-bottom: 10px;
}

.mainDireccion .formulario textarea {
  resize: none;
  width: 250px;
}

.mainDireccion .formulario .mensajeError {
  font-size: 20px;
}

.asideDireccion {
  margin-top: 100px;
  -ms-grid-column-align: end;
      justify-self: end;
  position: absolute;
  text-align: center;
}

footer {
  background-color: #2b2d42;
  text-align: center;
  padding-bottom: 10px;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 5px;
  -ms-grid-rows: 0.5fr 1fr 0.5fr;
      grid-template-rows: 0.5fr 1fr 0.5fr;
  color: whitesmoke;
}

footer h2, footer h3 {
  font-size: 20px;
}

footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

footer .redes div {
  border-radius: 50%;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 50px;
  margin-right: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .redes div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

footer .redes div a img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.desaparecer {
  visibility: hidden;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */